<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JACK_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,1040},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{124,124}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>JACK_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,1035},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{124,124}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>JACK_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,913},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{124,124}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>JACK_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,908},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{124,124}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>JACK_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,786},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{124,124}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>JACK_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,781},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{124,124}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>JACK_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,659},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{124,124}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>JACK_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,654},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{124,124}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>JACK_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,532},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{124,124}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>JACK_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,527},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{124,124}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>JACK_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,405},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{124,124}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>JACK_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,90},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{124,124}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>bgmaindlg_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,206},{196,196}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{196,196}}</string>
                <key>sourceSize</key>
                <string>{198,198}</string>
            </dict>
            <key>button_create_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{386,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{386,85}}</string>
                <key>sourceSize</key>
                <string>{386,87}</string>
            </dict>
            <key>create_room_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,649},{1077,644}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,71},{1077,644}}</string>
                <key>sourceSize</key>
                <string>{1337,752}</string>
            </dict>
            <key>create_room_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,90},{210,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,56}}</string>
                <key>sourceSize</key>
                <string>{210,56}</string>
            </dict>
            <key>enter_room_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1077,644}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,71},{1077,644}}</string>
                <key>sourceSize</key>
                <string>{1337,752}</string>
            </dict>
            <key>manage_room_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,149},{200,54}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{200,54}}</string>
                <key>sourceSize</key>
                <string>{210,56}</string>
            </dict>
            <key>room_manage_cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1296},{960,176}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{960,176}}</string>
                <key>sourceSize</key>
                <string>{962,182}</string>
            </dict>
            <key>room_manage_cell_button_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,372},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>room_manage_cell_button_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,217},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>room_manage_cell_button_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1296},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_hall_dlg.png</string>
            <key>size</key>
            <string>{1474,1474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:501ab7532f2dd0c31269e2b6313b1387:1/1$</string>
            <key>textureFileName</key>
            <string>ui_hall_dlg.png</string>
        </dict>
    </dict>
</plist>
