<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_getlastresult.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,230},{172,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{172,78}}</string>
                <key>sourceSize</key>
                <string>{180,84}</string>
            </dict>
            <key>hall_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{474,536}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{474,536}}</string>
                <key>sourceSize</key>
                <string>{480,540}</string>
            </dict>
            <key>icon_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,800},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{176,176}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,800},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_option.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,982},{166,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{166,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>main_player_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,188}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{960,188}}</string>
                <key>sourceSize</key>
                <string>{960,192}</string>
            </dict>
            <key>ui_main_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{824,302}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{824,302}}</string>
                <key>sourceSize</key>
                <string>{840,320}</string>
            </dict>
            <key>ui_main_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{824,302}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{824,302}}</string>
                <key>sourceSize</key>
                <string>{840,320}</string>
            </dict>
            <key>ui_main_button_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{824,302}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{824,302}}</string>
                <key>sourceSize</key>
                <string>{840,320}</string>
            </dict>
            <key>vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,192},{79,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,36}}</string>
                <key>sourceSize</key>
                <string>{79,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_hall.png</string>
            <key>size</key>
            <string>{1276,1276}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92cb04ab014eb629c8e642dbc8515762:1/1$</string>
            <key>textureFileName</key>
            <string>ui_hall.png</string>
        </dict>
    </dict>
</plist>
