<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>douniuwintype_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{216,88}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{216,88}}</string>
                <key>sourceSize</key>
                <string>{258,98}</string>
            </dict>
            <key>douniuwintype_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,184},{186,88}}</string>
                <key>offset</key>
                <string>{-36,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{186,88}}</string>
                <key>sourceSize</key>
                <string>{258,98}</string>
            </dict>
            <key>douniuwintype_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,373},{186,88}}</string>
                <key>offset</key>
                <string>{-36,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{186,88}}</string>
                <key>sourceSize</key>
                <string>{258,98}</string>
            </dict>
            <key>douniuwintype_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,93},{214,88}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{214,88}}</string>
                <key>sourceSize</key>
                <string>{258,98}</string>
            </dict>
            <key>douniuwintype_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,93},{210,88}}</string>
                <key>offset</key>
                <string>{-24,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{210,88}}</string>
                <key>sourceSize</key>
                <string>{258,98}</string>
            </dict>
            <key>douniuwintype_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{214,88}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{214,88}}</string>
                <key>sourceSize</key>
                <string>{258,98}</string>
            </dict>
            <key>douniuwintype_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{220,88}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{220,88}}</string>
                <key>sourceSize</key>
                <string>{258,98}</string>
            </dict>
            <key>douniuwintype_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,88}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{254,88}}</string>
                <key>sourceSize</key>
                <string>{258,98}</string>
            </dict>
            <key>douniuwintype_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,373},{180,88}}</string>
                <key>offset</key>
                <string>{-39,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{180,88}}</string>
                <key>sourceSize</key>
                <string>{258,98}</string>
            </dict>
            <key>douniuwintype_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,184},{184,88}}</string>
                <key>offset</key>
                <string>{-37,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{184,88}}</string>
                <key>sourceSize</key>
                <string>{258,98}</string>
            </dict>
            <key>douniuwintype_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,478},{188,88}}</string>
                <key>offset</key>
                <string>{-35,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{188,88}}</string>
                <key>sourceSize</key>
                <string>{258,98}</string>
            </dict>
            <key>douniuwintype_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,478},{188,88}}</string>
                <key>offset</key>
                <string>{-35,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{188,88}}</string>
                <key>sourceSize</key>
                <string>{258,98}</string>
            </dict>
            <key>douniuwintype_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,184},{184,88}}</string>
                <key>offset</key>
                <string>{-37,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{184,88}}</string>
                <key>sourceSize</key>
                <string>{258,98}</string>
            </dict>
            <key>douniuwintype_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,184},{186,88}}</string>
                <key>offset</key>
                <string>{-36,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{186,88}}</string>
                <key>sourceSize</key>
                <string>{258,98}</string>
            </dict>
            <key>douniuwintype_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,184},{200,88}}</string>
                <key>offset</key>
                <string>{-29,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{200,88}}</string>
                <key>sourceSize</key>
                <string>{258,98}</string>
            </dict>
            <key>douniuwintype_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,387},{194,88}}</string>
                <key>offset</key>
                <string>{-32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{194,88}}</string>
                <key>sourceSize</key>
                <string>{258,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>douniu_wintype.png</string>
            <key>size</key>
            <string>{568,568}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b749f432b5cacf30e916091108f12c5:1/1$</string>
            <key>textureFileName</key>
            <string>douniu_wintype.png</string>
        </dict>
    </dict>
</plist>
