<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_agree.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,856},{88,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{88,42}}</string>
                <key>sourceSize</key>
                <string>{92,44}</string>
            </dict>
            <key>button_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,1295},{174,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{174,80}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>button_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1290},{116,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{116,56}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>button_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,1363},{174,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{174,80}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>button_end.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,1446},{174,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{174,80}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>button_fastchat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{1135,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1135,92}}</string>
                <key>sourceSize</key>
                <string>{1135,92}</string>
            </dict>
            <key>button_leave_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,1363},{174,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{174,80}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>button_next_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1280},{174,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{174,80}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>button_refuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,765},{88,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{88,42}}</string>
                <key>sourceSize</key>
                <string>{92,44}</string>
            </dict>
            <key>button_room_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1212},{174,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{174,80}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>button_room_chip.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,863},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{240,240}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>button_room_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,1035},{174,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{174,80}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>button_room_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1035},{174,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{174,80}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>chat_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1336,566}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1336,566}}</string>
                <key>sourceSize</key>
                <string>{1336,566}</string>
            </dict>
            <key>chat_info_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,863},{492,230}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{492,230}}</string>
                <key>sourceSize</key>
                <string>{514,258}</string>
            </dict>
            <key>chip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,768},{254,254}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{254,254}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>chip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1106},{254,254}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{254,254}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>chip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1353},{254,252}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{254,252}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>chip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1353},{254,252}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{254,252}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>chip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,1096},{254,254}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{254,254}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>chip_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1290},{254,254}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{254,254}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>game_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,571},{1336,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1336,194}}</string>
                <key>sourceSize</key>
                <string>{1336,194}</string>
            </dict>
            <key>icon_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,910},{122,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{122,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>person_unknown.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1363},{242,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{242,242}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>player_in_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,1025},{252,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{252,252}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>room_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,863},{418,424}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,41},{418,424}}</string>
                <key>sourceSize</key>
                <string>{514,514}</string>
            </dict>
            <key>room_tip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,765},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,186},{142,142}}</string>
                <key>sourceSize</key>
                <string>{514,514}</string>
            </dict>
            <key>score_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1547},{246,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{246,54}}</string>
                <key>sourceSize</key>
                <string>{258,66}</string>
            </dict>
            <key>send_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1096},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{170,170}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>status_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1363},{242,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{242,66}}</string>
                <key>sourceSize</key>
                <string>{258,66}</string>
            </dict>
            <key>total_result_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,2},{760,246}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{760,246}}</string>
                <key>sourceSize</key>
                <string>{770,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_room.png</string>
            <key>size</key>
            <string>{1607,1607}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f73b6cac2a8058e83eed664e1c6cbea4:1/1$</string>
            <key>textureFileName</key>
            <string>ui_room.png</string>
        </dict>
    </dict>
</plist>
